/*
* Site enables sticky footer
*
* .Site
*   .formidableHeader
*   .Site-content
*   .formidableFooter
*/
#content {
  height: 100%;
}

.Site {
  background: linear-gradient(to top, var(--gold), var(--pink));
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Site-content {
  flex: 1 0 auto;
}

/*
* Container
*/
.Container {
  padding: var(--gutterPage) 0 var(--gutterPage) var(--gutterPage) !important;
}

.Container p {
  max-width: 36em;
}

/*
* GRID
*/
.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid--column {
  flex-direction: column;
}

.Grid--nowrap {
  flex-wrap: nowrap;
}

.Grid--flexCells > .Grid-cell {
  display: flex;
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid--justifyCenter {
  justify-content: center;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%;
}

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%;
}

.Grid--1of3--flex > .Grid-cell {
  flex: 2 1 33.33333%;
}

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%;
}

.Grid--gutters {
  margin: -1em 0 1em -1em;
}

.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

.Grid--guttersLg {
  margin: calc(-1 * var(--gutterPage)) 0 var(--gutterPage) calc(-1 * var(--gutterPage));
}

.Grid--guttersLg > .Grid-cell {
  padding: var(--gutterPage) 0 0 var(--gutterPage);
}

/*
 * CELL Modifiers
*/
.Grid-cell {
  flex: 1;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.Grid-cell--autoSize {
  flex: none;
}

.Grid-cell--full {
  flex: 0 0 100%;
}

@media (--medium-viewport) {
  .medium-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .medium-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .medium-Grid--flex > .Grid-cell {
    flex: 1 0 auto;
  }
  .medium-Grid--flex--1of3 > .Grid-cell {
    flex: 1 0 33.3333%;
  }
  .medium-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%
  }
  .medium-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%
  }
  .medium-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%
  }
}

@media (--large-viewport) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%
  }
  .large-Grid-cell--autoSize {
    flex: none;
  }
  .large-Grid--column {
    flex-direction: column;
  }
  .large-Grid--column > .Grid-cell {
    flex: none;
  }
  .large-Grid--nowrap {
    flex-wrap: nowrap;
  }
}
