/.github/ @urql-graphql/core
/.changeset/config.json @urql-graphql/core
/scripts/actions/* @urql-graphql/core
/scripts/prepare/* @urql-graphql/core
/scripts/rollup/* @urql-graphql/core
/scripts/changesets/* @urql-graphql/core
