{
  "extends": "formidable/configurations/es6-react",
  "parser": "typescript-eslint-parser",
  "globals": { "__dirname": true },
  "rules": {
    "quotes": [2, "single", { "allowTemplateLiterals": true }],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "no-magic-numbers": "off",
    "func-style": "off",
    "arrow-parens": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/require-extension": "off",
    "react/no-multi-comp": "warn",
    "react/prop-types": "warn",
    "react/sort-comp": "warn",
    "react/sort-prop-types": "warn"
  }
}
