/.vscode
**/node_modules
*.log
.rts2_cache*
.husky
dist/
build/
coverage/
package-lock.json
.DS_Store
.next

packages/*/LICENSE
exchanges/*/LICENSE

# TODO: Figure out how to remove these:
tmp/
dist/
examples/react-urql-retry/public/favicon.ico
examples/react-urql-retry/public/index.html
examples/react-urql-retry/public/logo192.png
examples/react-urql-retry/public/logo512.png
examples/react-urql-retry/public/manifest.json
examples/react-urql-retry/public/robots.txt
