language: node_js

dist: trusty

node_js:
  - "8"

sudo: false

branches:
  only:
    - master

install:
  # Fail if lockfile outdated.
  # https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install-frozen-lockfile
  - yarn install --frozen-lockfile

script:
  - yarn run lint
  - yarn run build