:root {
  /* COLORS */
  --black: #242121;
  --gray: #898685;
  --lightGray: #e7e5e3;
  --white: #ffffff;

  --red: #c43a31;
  --lightRed: #DC7A6B;

  /* FONTS */
  --monospace: "akkurat", "Inconsolata", monospace;
}