/** VARIABLES
*/
@import "base/variables.css";

/** BASE
* Common styles between <Header> & <Footer>
*
*/
@import "base/base.css";

/** FORMIDABLE HEADER
* A <Header> component retaining colors, fonts, and space-theme associated with
* the Formidable brand.
*
* -logos        wrapper for both the project logo and the Formidable Open Source logo
* -logos-oss    the Formidable Open Source logo
* -by           the word "by" might need `text-indent` to optically align with the project logo
* .default      wrapper for project-specific links that retain Formidable brand
*/
.formidableHeader {
  margin: 0;
  background-color: #000;
}

.formidableHeader-logos {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
}

.formidableHeader .default {
  padding: 20px 0;
  font-family: var(--monospace);
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
}

.formidableHeader .default * {
  display: inline-block;
}


/** DARK THEME
*/
.formidableHeader.isDark {
  background: var(--black) url("../assets/bg.jpg") bottom right;
  color: var(--gray);
}
