html {
  background-color: var(--nearBlack);
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

@media (--medium-viewport) {
  html {
    font-size: 20px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--gold);
  color: var(--black);
  font-family: var(--fontBody);
  line-height: 1.45;
  position: relative;

  height: 100%;
}
/**
 * Reset default spacing and border for appropriate elements.
 * (suitcss-base)
 */

blockquote,
dl,
dd,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
table {
  margin: 1.375em 0 0 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 * (suitcss-base)
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 * (suitcss-base)
 */

[tabindex="-1"]:focus {
  outline: none !important;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: -0.5em;
  font-family: var(--fontBody);
  font-weight: normal;
  line-height: 1;
}

h1 {
  margin: 0;
  font-family: var(--fontHeading);
  font-size: 3.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-family: var(--fontCode);
  font-size: 1.25rem;
}

h4 {
  font-size: 1.75rem;
}

h5, h6 {
  font-size: 1.5rem;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: 1em;
}

strong {
  font-weight: bold;
}

pre,
code {
  font-family: var(--fontCode);
}

pre {
  margin-left: -5%;
  margin-right: -5%;
  padding: 2rem 5%;
}

pre[class*="language-"] code {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

pre code {
  border: 0;
}

code {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  padding: 0.33em .333em .28em;
}

@media (--medium-viewport) {
  code {
    font-size: 0.875rem;
  }
}

img {
  border: 1px solid var(--black);
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9em;
  margin-right: -1em;
  margin-left: -1em;
}

tr:nth-child(even) {
  background-color: #FAF8F7;
}

th, td {
  border: 1px solid #E0DEDC;
  padding: 0.45em 1em;
}
