.Copy--large {
  font-size: 1.2em;
}

.Copy--large p {
  padding-right: var(--gutterPage);
}

.Heading {
  font-family: var(--fontHeading);
  font-size: 3rem;
}

.Subheading {
  font-family: var(--fontCode);
  font-weight: normal;
  line-height: 1.3;
  font-size: 1rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
