/*
* Margins
*/

.u-marginTopSm {
  margin-top: var(--gutterSm);
}

.u-marginTop {
  margin-top: var(--gutter);
}

.u-marginTopLg {
  margin-top: var(--gutterPage);
}

.u-marginLeft {
  margin-left: var(--gutter);
}

/* Remove Margins */
.u-noMargin {
  margin: 0 !important;
}

.u-noMarginTop {
  margin-top: 0 !important;
}

.u-noMarginBottom {
  margin-bottom: 0 !important;
}

/**
* Layout
*/
.u-displayBlock {
  display: block !important;
}

/**
* Color
*/
.u-bgWhite {
  background-color: var(--white);
}

/**
* Text
*/
.u-nowrap {
  white-space: nowrap !important;
}

.u-textCenter {
  text-align: center !important;
}
